.header_area {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

  text-transform: capitalize;
}

.list_box {
  display: flex;
  gap: 20px;
}

.left_box {
  display: flex;
  gap: 90px;
}

.m_box {
  display: none;
}

/* .shop .hover {
  color: #3a5999;
  font-weight: 400;
}
.archives .hover {
  color: #3a5999;
  font-weight: 400;
}
.editorial .hover {
  color: #3a5999;
  font-weight: 400;
}
.about .hover {
  color: #3a5999;
  font-weight: 400;
}
.information .hover {
  color: #3a5999;
  font-weight: 400;
} */

.shop {
  --hoverColor: #02785a;
}
.archives {
  --hoverColor: #a81701;
}
.editorial {
  --hoverColor: #ffbf2a;
}
.about {
  --hoverColor: #02658a;
}
.information {
  --hoverColor: #56321a;
}

@media (max-width: 900px) {
  .m_box {
    display: flex;
    gap: 12px;
  }

  .m_menu {
    width: 16px;
  }

  .menu_box,
  .right_box {
    display: none;
  }
}
