.header_area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

  text-transform: capitalize;
  background-color: #f6f6f6;
}

.m_menu_box {
  display: none;
}

.list_box {
  display: flex;
  gap: 20px;
}

.left_box {
  display: flex;
  gap: 90px;
}

.right_box li {
  display: flex;
  width: 22px;
  height: 22px;
}

.right_box li a {
  display: flex;
}

.right_box .list_box li:last-child {
  display: none;
}

.m_box {
  display: none;
}

.shop {
  --hoverColor: #02785a;
}
.archives {
  --hoverColor: #a81701;
}
.editorial {
  --hoverColor: #ffbf2a;
}
.about {
  --hoverColor: #02658a;
}
.information {
  --hoverColor: #56321a;
}

/* 장바구니 뱃지 */
.cartWrapper {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: -4px;
  right: -4px;

  width: 16px;
  height: 16px;

  background: #5d5d5d;
  color: white;
  font-size: 10px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .right_box .list_box li:last-child {
    display: flex;
  }
  .menu_box {
    display: none;
  }

  .m_menu_box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;

    width: 100%;
    height: 100%;
    background-color: #f6f6f6;

    transition: 0.3s;
  }

  /* ✅ open되면 left:0 */
  .m_menu_box.open {
    left: 0;
  }

  .m_menu_box .list_box {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
