/* banner */
.bannerWrap {
  display: grid;
}

.bannerVideo {
  width: 100%;
  height: 700px;
  object-fit: contain;
  /* object-position: center -220px; */
  display: block;
  /* background-color: #fff; */
}

/* container */
.container {
  width: 89.6%;
  margin: 0 auto;
}

/* brand */
.brand {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 8fr 17fr;
  align-items: start;
}
.brand .sectionTitle {
  grid-column: 1;
}

.brand .brandText {
  grid-column: 3;
}

/* Sections */
.sectionHead {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  margin-bottom: 140px;
  margin-top: 140px;
  align-items: end;
}

.sectionHead .sectionTitle {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  grid-column: 2; /* 제목은 두 번째 칸 */
}

.sectionHead .sectionLink {
  font-size: 0.9rem;
  opacity: 0.75;
  grid-column: 4; /* 더보기는 네 번째 칸 */
  justify-self: end;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

/* More */
.more {
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.more .grid {
  grid-template-columns: repeat(2, 1fr);
}

/* Visual */
.visualMedia {
  display: flex;
  gap: 20px;
  margin: 140px 0;
  margin-bottom: 32px;
}

.visualImg {
  object-fit: cover;
  width: 33.333%;
  height: 600px;
}

/* Responsive */
@media (max-width: 1320px) {
  .container {
    width: 100%;
    margin: auto;
  }

  .brand {
    padding: 0 16px;
  }

  .sectionHead {
    padding: 0 16px;
  }
}

@media (max-width: 1200px) {
  .bannerVideo {
    height: 700px;
    object-position: center bottom;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .brand {
    grid-template-columns: 4fr 6fr 17fr;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .more {
    grid-template-columns: 1fr;
  }

  .more > :nth-child(1) {
    order: 2;
  }

  .more > :nth-child(2) {
    order: 1;
  }

  .more_image {
    height: 800px;
  }

  .visualImg {
    height: 350px;
  }
}

@media (max-width: 700px) {
  .bannerWrap img {
    object-position: -70px top;
  }

  .bannerVideo {
    height: 700px;
  }

  .brand {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    text-align: right;
  }

  .sectionHead {
    margin-top: 86px;
    margin-bottom: 16px;
    grid-template-columns: auto 1fr auto;
  }

  .grid {
    padding: 0 16px;
  }

  .more {
    margin-top: 86px;
  }

  .more_image {
    height: 500px;
  }

  .visualMedia {
    flex-direction: column;
    margin: 86px 0 32px;
    gap: 0px;
  }

  .visualImg {
    width: 100%;
    height: 550px;
  }
}
